<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs") %>
<body>
  
    <%- include('./partials/nav.ejs') %>
   
    <div class="oops">
    <h2 >OOPS! Page not found</h2>
    <h2 ><%=message%></h2> 
   </div>
  
<%- include('./partials/foot.ejs') %>
    
</body>
</html>
