<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>

  <body class ="form-bg">
    <%- include('./partials/nav.ejs') %>

    <head>
        <link rel="stylesheet" href="/forms.css">
      </head>

    <div class="login-form-outer">
      <form
         action="/view-users"  
        method="POST"
        class="form"
        onsubmit="return checkBeforeSubmit()"
      >
        <div class="title">SignUp</div>
        <div class="subtitle">Let's SignUp for an Account!</div>
        <div class="input-container ic2">
          <input
            id="accountNumber"
            class="input"
            type="text"
            placeholder=" "
            name="accountNumber"
            autocomplete="off"
            required
          />
          <div class="cut cut-medium"></div>
          <label for="accountNumber" class="placeholder">Account Number</label>
        </div>
        <div class="input-container ic2">
          <input
            id="name"
            class="input"
            type="text"
            placeholder=" "
            name="name"
            autocomplete="off"
            required
          />
          <div class="cut"></div>
          <label for="name" class="placeholder">Full Name</label>
        </div>

        <div class="input-container ic2">
          <input
            id="balance"
            class="input"
            type="text"
            placeholder=" "
            name="balance"
            autocomplete="off"
            required
          />
          <div class="cut"></div>
          <label for="balance" class="placeholder"> Balance </label>
        </div>

        <div class="input-container ic2">
          <input
            type="text"
            id="email"
            class="input"
            placeholder=" "
            name="email"
            autocomplete="off"
            required
          />
          <div class="cut"></div>
          <label for="email" class="placeholder">Email</label>
        </div>

        <div class="email error"></div>

        <div class="input-container ic2">
          <input
            type="text"
            id="password"
            class="input"
            placeholder=" "
            name="password"
            autocomplete="off"
            required
          />
          <div class="cut"></div>
          <label for="password" class="placeholder">Password</label>
        </div>

        <div class="password error"></div>

        <button type="text" class="submit">Submit</button>
      </form>
    </div>



    <%- include('./partials/foot.ejs') %>
  </body>
</html>
