<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
 
  <body>
    <%- include('./partials/nav.ejs') %>
    
    <div class = "login-pg">
    <h1 class="login-h1">Login</h1>
    <div class="g-signin2" data-onsuccess="onSignIn" target="_blank"></div>
     <button type="button" class="btn btn-dark SignOut-btn" ><a href="/logout">  SignOut </a> <i class="fas fa-sign-out-alt"></i></button>
    </div>
   

    <!-- <script src="../public/login_f.js"></script> -->

    <script>
      function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/login");
        xhr.setRequestHeader(
          "Content-Type",
          "application/json"
        );
          xhr.onload = function () {
          console.log("Signed in as: " + xhr.responseText);
          if(xhr.responseText == 'success')
          {
            signOut();
            location.assign('/dashboard');
            //res.set({'Cache-Control': 'no-cache, private, no-store, must-revalidate, max-stale=0, post-check=0, pre-check=0'});
          }
          

        };
        xhr.send(JSON.stringify({token: id_token}));
        
      }
    </script>

    <script>
      function signOut() {

        var auth2 = gapi.auth2.getAuthInstance();
        //console.log(auth2);
        auth2.signOut().then(function () {
       //   localStorage.removeItem('token');
          console.log("User signed out.");
       
        });

      }

    </script>
    <%- include('./partials/foot.ejs') %>
  </body>
</html>
