<html lang="en">
<%-include("./partials/head.ejs") %>
<body>
  
    <%- include('./partials/nav.ejs') %>
 
    <div class="payment">
    <h1> PAYMENT FAILED </h1>
  </div>
  
<%- include('./partials/foot.ejs') %>
    
</body>
</html>
